ObservableCollectionDemo/ObservableCollectionDemo/bin/
ObservableCollectionDemo/ObservableCollectionDemo/obj/
ObservableCollectionDemo/ObservableCollectionDemo.Android/bin/
ObservableCollectionDemo/ObservableCollectionDemo.Android/obj/
ObservableCollectionDemo/ObservableCollectionDemo.iOS/bin/
ObservableCollectionDemo/ObservableCollectionDemo.iOS/obj/
ObservableCollectionDemo/ObservableCollectionDemo.UWP/bin/
ObservableCollectionDemo/ObservableCollectionDemo.UWP/obj/
Radius360X/packages/
*.sln~
*.config~
*.cs~
*.db
obj/
bin/
Dependencies/
Add-AppDevPackage.resources/
*.apk
*.suo
*.zip
*.txt~
*.exe
*.cer
*.appxbundle
*.appxsym
*.gitignore~
*.csproj~
*.odt#
ObservableCollectionDemo/.vs/
*.nupkg
*.ide
*.bak
.vs/
